.center {
    margin: auto;
    width: 70%;
    border: 1px solid white;
    padding: 50px;
    background-color: lightslategray;
}

body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h1{
    color: white;
    text-align: center;
    text-shadow: 3px 2px black;
}

h2 {
    color: white;
    text-align: center;
    font-style: italic;
}

h3 {
    color: black;
    text-align: left;
}

ul.a {
    list-style-type: circle;
}

select {
    width: 30%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: lightgray;
  }

  input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    background-color: lightgrey;
  }

  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }